*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif ;
}

.container-fluid{
    width: 100%;
    height: 150vh;
    background-color: #DDD5D0;
    padding-top: 50px;
    

}

.cream {
    background-color: #DDD5D0;
}

.blue {
    color: #5B7C98;
}

.content{
    width: 550px;
}

.content p{
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1px;
}

#about img{
    height: auto;
    width: 300px;
    border-radius: 70%;
}

.more {
    display: none;
}

.about {
    width: 1130px;
    max-width: 95%;
    
    /* align-items: center;
    justify-content: space-around; */
    /* padding-bottom: 40px;
    padding-top: 40px; */
    
}

.container h3{
    color: #48392A;
    font-size: 80px;
}